<form [formGroup]="forgotPasswordForm" id="forgot-password-form" (ngSubmit)="onSubmit()" class="margin-bot-20">
  <label for="email_address" class="rl-label">Email Address</label>

  <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'invalid': submitted && formControl.email.errors }" />
  <div *ngIf="submitted && formControl.email.errors" class="invalid-feedback">
    <span *ngIf="formControl.email.errors.required">Email is required</span>
    <span *ngIf="formControl.email.errors.email">Enter a valid email address</span>
  </div>

  <!-- CHECKBOX -->
  <input type="checkbox" id="generate_pwd" name="generate_pwd" checked="">
  <label for="generate_pwd" class="label-check">
    <span class="checkbox primary primary"><span></span></span>
    Request new password
  </label>
  <!-- /CHECKBOX -->
  <p>Go back to Login? <a routerLink="/login" class="primary">Click here!</a></p>
  <br>
  <button class="button mid tz-green">Restore your Password</button>
</form>
<div *ngIf="error" class="alert alert-danger" role="alert">
  {{ error.message }}
</div>
<div *ngIf="success" class="alert alert-success" role="alert">
  {{ success.message }}
</div>