<!-- SECTION HEADLINE -->
<div class="section-headline-wrap">
  <div class="section-headline">
    <h2>Forgot Password</h2>
  </div>
</div>
<!-- /SECTION HEADLINE -->

<div class="section-wrap">
  <div class="section demo">
    <div class="form-popup">
      <!-- FORM POPUP CONTENT -->
      <div class="form-popup-content">
        <h4 class="popup-title">Restore your Password</h4>
        <!-- LINE SEPARATOR -->
        <hr class="line-separator short">
        <!-- /LINE SEPARATOR -->
        <p class="spaced">Enter your email address and click restore password. Please wait for the reset link to be sent in your Email.</p>

        <!-- FORM POPUP -->
        <forgot-password-form></forgot-password-form>
        <!-- /FORM POPUP -->

      </div>
      <!-- /FORM POPUP CONTENT -->
    </div>
    <div class="clearfix"></div>
  </div>
</div>
