<div class="content right">
    <div class="sale-data">
        <!-- SALE DATA ITEM -->
        <div class="sale-data-item">
            <span class="sl-icon icon-present"></span>
            <p class="text-header big"><span>$</span> 853.00</p>
            <div class="sale-data-item-info">
                <p class="text-header">Tours Sold</p>
                <p>In all Time</p>
            </div>
        </div>
        <!-- /SALE DATA ITEM-->

        <!-- SALE DATA ITEM -->
        <div class="sale-data-item">
            <span class="sl-icon icon-present"></span>
            <p class="text-header big">5000</p>
            <div class="sale-data-item-info">
                <p class="text-header">Total Tours</p>
                <p>In all Time</p>
            </div>
        </div>
        <!-- /SALE DATA ITEM-->

        <!-- SALE DATA ITEM -->
        <div class="sale-data-item">
            <span class="sl-icon icon-tag"></span>
            <p class="price big">150</p>
            <div class="sale-data-item-info">
                <p class="text-header">No of Reservations</p>
                <p>In all Time</p>
            </div>
        </div>
        <!-- /SALE DATA ITEM-->
    </div>

    <div class="headline purchases primary">
        <h4>Booking Summary</h4>
        <form id="purchase_filter_form" name="purchase_filter_form">

            <label for="date_filter" class="select-block">
                <select name="date_filter" id="date_filter">
                    <option value="0">Date (Newest to Oldest)</option>
                    <option value="1">Date (Oldest to Newest)</option>
                </select>
                <!-- SVG ARROW -->
                <svg class="svg-arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
                </svg>
                <!-- /SVG ARROW -->
            </label>

            <div class="search-form">
                <input type="text" class="rounded search" name="search" id="search_products" placeholder="Search transactions here...">
                <input type="image" src="assets/images/search-icon-small.png" alt="search-icon">
            </div>
        </form>
    </div>

    <div class="purchases-list">
        <!-- PURCHASES LIST HEADER -->
        <div class="purchases-list-header">
            <div class="purchases-list-header-date">
                <p class="text-header small">Date</p>
            </div>
            <div class="purchases-list-header-details">
                <p class="text-header small">Tour Details</p>
            </div>
            <div class="purchases-list-header-info">
                <p class="text-header small">Additional Info</p>
            </div>
            <div class="purchases-list-header-price">
                <p class="text-header small">Price</p>
            </div>
            <div class="purchases-list-header-recommend">
                <p class="text-header small">Action</p>
            </div>
        </div>
        <!-- /PURCHASES LIST HEADER -->

        <!-- PURCHASE ITEM -->
        <div class="purchase-item">
            <div class="purchase-item-date">
                <p>Jul 20, 2018 11:00 AM</p>
            </div>
            <div class="purchase-item-details">
                <!-- ITEM PREVIEW -->
                <div class="item-preview">
                    <figure class="product-preview-image small liquid imgLiquid_bgSize imgLiquid_ready" style="background-image: url(&quot;assets/images/items/westeros_s.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                        <img src="assets/images/featured-tours/bohol.jpg" alt="product-image" style="display: none;">
                    </figure>
                    <p class="text-header">Bohol Tour Package</p>
                    <p class="description">Experience bohol, nature tripping and many more...</p>
                </div>
                <!-- /ITEM PREVIEW -->
            </div>
            <div class="purchase-item-info">
                <p class="category primary">Private Tour Package</p>
                <p><span class="light">Ref No:</span> #1241243</p>
                <p><span class="light">Status:</span> Approved</p>
            </div>
            <div class="purchase-item-price">
                <p class="price"><span>$</span>14</p>
            </div>
            <div class="purchase-item-recommend">
                <div class="recommendation-wrap">
                    <a href="#recommendation-popup" class="recommendation good open-recommendation-form">
                        <span class="icon-like"></span>
                    </a>
                    <a href="#recommendation-popup" class="recommendation bad hoverable open-recommendation-form">
                        <span class="icon-dislike"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- /PURCHASE ITEM -->

        <!-- PAGER -->
        <div class="pager-wrap">
            <div class="pager primary">
                <div class="pager-item"><p>1</p></div>
                <div class="pager-item active"><p>2</p></div>
                <div class="pager-item"><p>3</p></div>
                <div class="pager-item"><p>...</p></div>
                <div class="pager-item"><p>17</p></div>
            </div>
        </div>
        <!-- /PAGER -->
    </div>

</div>