<div class="content right">
	<div class="headline buttons primary">
		<h4>Tour Update</h4>
		<a class="button mid-short dark-light" routerlink="/user/tours" ng-reflect-router-link="/user/tours">Tour Listing</a>
	</div>

	<!-- CONTENT -->
	<div class="content left">
		<!-- POST -->
		<article class="post">
			<!-- POST IMAGE -->
			<div class="post-image">
				<figure class="product-preview-image large liquid">
					<img src="assets/images/featured-tours/bohol.jpg" alt="">
				</figure>
			</div>
			<!-- /POST IMAGE -->

			<!-- POST IMAGE SLIDES -->
			<div class="post-image-slides">
				<!-- SLIDE CONTROLS -->
				<div class="slide-control-wrap">
					<div class="slide-control left">
						<!-- SVG ARROW -->
						<svg class="svg-arrow">
							<use xlink:href="#svg-arrow"></use>
						</svg>
						<!-- /SVG ARROW -->
					</div>

					<div class="slide-control right">
						<!-- SVG ARROW -->
						<svg class="svg-arrow">
							<use xlink:href="#svg-arrow"></use>
						</svg>
						<!-- /SVG ARROW -->
					</div>
				</div>
				<!-- /SLIDE CONTROLS -->

				<!-- IMAGE SLIDES WRAP -->
				<div class="image-slides-wrap">
					<!-- IMAGE SLIDES -->
					<div class="image-slides" data-slide-visible-full="6"
						 data-slide-visible-small="2"
						 data-slide-count="9">
						<!-- IMAGE SLIDE -->
						<div class="image-slide selected">
							<div class="overlay"></div>
							<figure class="product-preview-image thumbnail liquid">
								<img src="assets/images/featured-tours/bohol.jpg" alt="">
							</figure>
						</div>
						<!-- /IMAGE SLIDE -->

						<!-- IMAGE SLIDE -->
						<div class="image-slide">
							<div class="overlay"></div>
							<figure class="product-preview-image thumbnail liquid">
								<img src="assets/images/featured-tours/sagada.jpg" alt="">
							</figure>
						</div>
						<!-- /IMAGE SLIDE -->

						<!-- IMAGE SLIDE -->
						<div class="image-slide">
							<div class="overlay"></div>
							<figure class="product-preview-image thumbnail liquid">
								<img src="assets/images/featured-tours/ilocos.jpg" alt="">
							</figure>
						</div>
						<!-- /IMAGE SLIDE -->
					</div>
					<!-- IMAGE SLIDES -->
				</div>
				<!-- IMAGE SLIDES WRAP -->
			</div>
			<!-- /POST IMAGE SLIDES -->

			<hr class="line-separator">
			<br>
			<div class="profile-image"><div class="profile-image-data"><figure class="user-avatar medium"><img alt="profile-default-image" src="assets/images/dashboard/profile-default-image.png"></figure><p class="text-header">Thumbnail Image</p><p class="upload-details">Browse thumbnail image not more than 2MB</p></div></div>
			<div class="input-container"><a class="button mid tz-color-orange spaced" href="#"><i class="icon-picture"></i> Browse Image</a></div>
			<br>

			<!-- FORM BOX ITEM -->
			<div class="form-box-item">
				<h4>General</h4>
				<hr class="line-separator">
				<form id="profile-info-form">
					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label for="acc_name" class="rl-label required">Title</label>
						<input type="text" id="acc_name" name="acc_name" value="Johnny Fisher" placeholder="Enter your account name here...">
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label class="rl-label" for="notes2">Tour Details</label>
						<textarea form="profile-info-form" id="notes2" name="notes2" placeholder="Tour Details"></textarea>
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label for="website_url" class="rl-label">Short Description</label>
						<input type="text" id="website_url" name="website_url" placeholder="Enter your website link here...">
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label for="country1" class="rl-label required">Country*</label>
						<label for="country1" class="select-block">
							<select name="country1" id="country1">
								<option value="0">Choose</option>
								<option value="1">United States</option>
								<option value="2">Argentina</option>
								<option value="3">Brasil</option>
								<option value="4">Japan</option>
							</select>
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</label>
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label for="country1" class="rl-label required">Destination*</label>
						<label for="country1" class="select-block">
							<select name="country1" id="country1">
								<option value="0">Choose Destination</option>
							</select>
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</label>
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container half">
						<label for="country1" class="rl-label required">Currency*</label>
						<label for="country1" class="select-block">
							<select name="country1" id="country1">
								<option value="0">Choose Currency</option>
							</select>
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</label>
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container half">
						<label for="website_url" class="rl-label">Price</label>
						<input type="text" id="website_url" name="website_url" placeholder="Enter Amount">
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label for="country1" class="rl-label required">Category*</label>
						<label for="country1" class="select-block">
							<select name="country1" id="country1">
								<option value="0">Choose Category</option>
							</select>
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</label>
					</div>
					<!-- /INPUT CONTAINER -->

					<!-- INPUT CONTAINER -->
					<div class="input-container">
						<label for="country1" class="rl-label required">Sub Category*</label>
						<label for="country1" class="select-block">
							<select name="country1" id="country1">
								<option value="0">Choose Sub Category</option>
							</select>
							<!-- SVG ARROW -->
							<svg class="svg-arrow">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
							</svg>
							<!-- /SVG ARROW -->
						</label>
					</div>
					<!-- /INPUT CONTAINER -->
				</form>
			</div>
			<!-- /FORM BOX ITEM -->

			<!-- FORM BOX ITEM -->
			<div class="form-box-item">
				<h4>Available Dates</h4>
				<hr class="line-separator">

				<!-- INPUT CONTAINER -->
				<div class="input-container">
					<input form="profile-info-form" type="text" id="date_from" name="date_from" value="" placeholder="Date From">
				</div>
				<!-- /INPUT CONTAINER -->

				<!-- INPUT CONTAINER -->
				<div class="input-container">
					<input form="profile-info-form" type="text" id="date_from" name="date_from" value="" placeholder="Date To">
				</div>
				<!-- /INPUT CONTAINER -->

				<div class="input-container half">
					<a href="#" class="button mid dark spaced"><i class="icon-minus"></i> Cancel</a>
				</div>
				<div class="input-container half">
					<a href="#" class="button mid tz-color-orange spaced"><i class="icon-plus"></i> Add more</a>
				</div>
				<br>
				<br>

			</div>
			<!-- /FORM BOX ITEM -->

			<!-- FORM BOX ITEM -->
			<div class="form-box-item">
				<div class="input-container">
					<button class="button mid primary spaced" disabled="">Save Tour</button>
				</div>
				<div class="input-container">
					<a routerLink="/user/tour-details" class="button mid tz-color-orange spaced" disabled="">Tour Preview</a>
				</div>
			</div>
			<!-- /FORM BOX ITEM -->

		</article>
		<!-- /POST -->

	</div>
	<!-- CONTENT -->
</div>