<div class="content right">
	<div class="headline buttons primary">
		<h4>Tour Details</h4>
		<a class="button mid-short dark-light" routerlink="/user/tours" ng-reflect-router-link="/user/tours">Tour Listing</a>
	</div>

	<!-- CONTENT -->
	<div class="content left">
		<!-- POST -->
		<article class="post">
			<!-- POST IMAGE -->
			<div class="post-image">
				<figure class="product-preview-image large liquid">
					<img src="assets/images/featured-tours/bohol.jpg" alt="">
				</figure>
			</div>
			<!-- /POST IMAGE -->

			<!-- POST IMAGE SLIDES -->
			<div class="post-image-slides">
				<!-- SLIDE CONTROLS -->
				<div class="slide-control-wrap">
					<div class="slide-control left">
						<!-- SVG ARROW -->
						<svg class="svg-arrow">
							<use xlink:href="#svg-arrow"></use>
						</svg>
						<!-- /SVG ARROW -->
					</div>

					<div class="slide-control right">
						<!-- SVG ARROW -->
						<svg class="svg-arrow">
							<use xlink:href="#svg-arrow"></use>
						</svg>
						<!-- /SVG ARROW -->
					</div>
				</div>
				<!-- /SLIDE CONTROLS -->

				<!-- IMAGE SLIDES WRAP -->
				<div class="image-slides-wrap">
					<!-- IMAGE SLIDES -->
					<div class="image-slides" data-slide-visible-full="6"
						 data-slide-visible-small="2"
						 data-slide-count="9">
						<!-- IMAGE SLIDE -->
						<div class="image-slide selected">
							<div class="overlay"></div>
							<figure class="product-preview-image thumbnail liquid">
								<img src="assets/images/featured-tours/bohol.jpg" alt="">
							</figure>
						</div>
						<!-- /IMAGE SLIDE -->

						<!-- IMAGE SLIDE -->
						<div class="image-slide">
							<div class="overlay"></div>
							<figure class="product-preview-image thumbnail liquid">
								<img src="assets/images/featured-tours/sagada.jpg" alt="">
							</figure>
						</div>
						<!-- /IMAGE SLIDE -->

						<!-- IMAGE SLIDE -->
						<div class="image-slide">
							<div class="overlay"></div>
							<figure class="product-preview-image thumbnail liquid">
								<img src="assets/images/featured-tours/ilocos.jpg" alt="">
							</figure>
						</div>
						<!-- /IMAGE SLIDE -->
					</div>
					<!-- IMAGE SLIDES -->
				</div>
				<!-- IMAGE SLIDES WRAP -->
			</div>
			<!-- /POST IMAGE SLIDES -->

			<hr class="line-separator">
			<br>
			<div class="profile-image"><div class="profile-image-data"><figure class="user-avatar medium"><img alt="profile-default-image" src="assets/images/dashboard/profile-default-image.png"></figure><p class="text-header">Thumbnail Image</p><p class="upload-details">Browse thumbnail image not more than 2MB</p></div></div>
			<div class="input-container"><a class="button mid tz-color-orange spaced" href="#"><i class="icon-picture"></i> Browse Image</a></div>
			<br>
			<hr class="line-separator">

			<!-- POST CONTENT -->
			<div class="post-content">
				<!-- POST PARAGRAPH -->
				<div class="post-paragraph">
					<h3 class="post-title">$ 14</h3>
					<h3 class="post-title">Bohol, Philippines</h3>
					<p class="tags primary"><span>Category: </span><a href="#">beach</a>, <a href="#">bohol</a>, <a href="#">white-sand</a></p>
					<hr class="line-separator">
					<br>
					<h3 class="post-title">Bohol White Beach</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<!-- /POST PARAGRAPH -->
			</div>
			<!-- /POST CONTENT -->

			<!-- FORM BOX ITEM -->
			<div class="form-box-item">
				<div class="input-container">
					<a routerLink="/user/tour-update" class="button mid primary spaced" disabled=""> <i class="icon-pencil"></i> Modify Tour</a>
				</div>
			</div>
			<!-- /FORM BOX ITEM -->

		</article>
		<!-- /POST -->

	</div>
	<!-- CONTENT -->
</div>
