<div class="content right">
    <div class="headline buttons primary">
        <h4>My Tours</h4>
        <a routerLink="/user/create-tour" class="button mid-short dark-light">Create Tour</a>
    </div>

    <!--Content-->
    <div class="product-list grid column4-wrap">
        <!-- PRODUCT ITEM -->
        <div class="product-item upload-new column">
            <!-- PRODUCT PREVIEW ACTIONS -->
            <div class="product-preview-actions">
                <!-- PRODUCT PREVIEW IMAGE -->
                <figure class="product-preview-image">
                    <img src="assets/images/dashboard/uploadnew-bg.jpg" alt="product-image">
                </figure>
                <!-- /PRODUCT PREVIEW IMAGE -->
            </div>
            <!-- /PRODUCT PREVIEW ACTIONS -->

            <!-- PRODUCT INFO -->
            <div class="product-info">
                <p class="text-header">Upload New Tours</p>
                <p class="description">Increase your sales by uploading new Developers.</p>
            </div>
            <!-- /PRODUCT INFO -->
        </div>
        <!-- /PRODUCT ITEM -->

        <!-- PRODUCT ITEM -->
        <div class="product-item column">
            <!-- PRODUCT PREVIEW ACTIONS -->
            <div class="product-preview-actions">
                <!-- PRODUCT PREVIEW IMAGE -->
                <figure class="product-preview-image">
                    <img src="assets/images/items/westeros_m.jpg" alt="product-image">
                </figure>
                <!-- /PRODUCT PREVIEW IMAGE -->

                <!-- PRODUCT SETTINGS -->
                <div class="product-settings primary dropdown-handle">
                    <span class="sl-icon icon-settings"></span>
                </div>
                <!-- /PRODUCT SETTINGS -->

                <!-- DROPDOWN -->
                <ul class="dropdown small hover-effect closed">
                    <li class="dropdown-item">
                        <!-- DP TRIANGLE -->
                        <div class="dp-triangle"></div>
                        <!-- DP TRIANGLE -->
                        <a href="#">Edit Item</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Duplicate</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Share</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Delete</a>
                    </li>
                </ul>
                <!-- /DROPDOWN -->
            </div>
            <!-- /PRODUCT PREVIEW ACTIONS -->

            <!-- PRODUCT INFO -->
            <div class="product-info">
                <a routerLink="/user/tour-details">
                    <p class="text-header">Westeros Custom Clothing</p>
                </a>
                <p class="product-description">Lorem ipsum dolor sit urarde...</p>
                <a href="shop-gridview-v1.html">
                    <p class="category primary">PSD Templates</p>
                </a>
                <p class="price"><span>$</span>14</p>
            </div>
            <!-- /PRODUCT INFO -->
            <hr class="line-separator">

            <!-- USER RATING -->
            <div class="user-rating">
                <a href="author-profile.html">
                    <figure class="user-avatar small">
                        <img src="assets/images/avatars/avatar_01.jpg" alt="user-avatar">
                    </figure>
                </a>
                <a href="author-profile.html">
                    <p class="text-header tiny">Johnny Fisher</p>
                </a>
                <ul class="rating tooltip tooltipstered">
                    <li class="rating-item">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="rating-item">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="rating-item">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="rating-item">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="rating-item empty">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                </ul>
            </div>
            <!-- /USER RATING -->
        </div>
        <!-- /PRODUCT ITEM -->

        <!-- PRODUCT ITEM -->
        <div class="product-item column">
            <!-- PRODUCT PREVIEW ACTIONS -->
            <div class="product-preview-actions">
                <!-- PRODUCT PREVIEW IMAGE -->
                <figure class="product-preview-image">
                    <img src="assets/images/items/soccer_m.jpg" alt="product-image">
                </figure>
                <!-- /PRODUCT PREVIEW IMAGE -->

                <!-- PRODUCT SETTINGS -->
                <div class="product-settings primary dropdown-handle">
                    <span class="sl-icon icon-settings"></span>
                </div>
                <!-- /PRODUCT SETTINGS -->

                <!-- DROPDOWN -->
                <ul class="dropdown small hover-effect closed">
                    <li class="dropdown-item">
                        <!-- DP TRIANGLE -->
                        <div class="dp-triangle"></div>
                        <!-- DP TRIANGLE -->
                        <a href="#">Edit Item</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Duplicate</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Share</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#">Delete</a>
                    </li>
                </ul>
                <!-- /DROPDOWN -->
            </div>
            <!-- /PRODUCT PREVIEW ACTIONS -->

            <!-- PRODUCT INFO -->
            <div class="product-info">
                <a routerLink="/user/tour-details">
                    <p class="text-header">Soccer Cup - Flyer + Fixture Pack</p>
                </a>
                <p class="product-description">Lorem ipsum dolor sit urarde...</p>
                <a href="shop-gridview-v1.html">
                    <p class="category primary">Flyers</p>
                </a>
                <p class="price"><span>$</span>6</p>
            </div>
            <!-- /PRODUCT INFO -->
            <hr class="line-separator">

            <!-- USER RATING -->
            <div class="user-rating">
                <a href="author-profile.html">
                    <figure class="user-avatar small">
                        <img src="assets/images/avatars/avatar_01.jpg" alt="user-avatar">
                    </figure>
                </a>
                <a href="author-profile.html">
                    <p class="text-header tiny">Johnny Fisher</p>
                </a>
                <ul class="rating tooltip tooltipstered">
                    <li class="rating-item">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="rating-item">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="rating-item">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="rating-item empty">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                    <li class="rating-item empty">
                        <!-- SVG STAR -->
                        <svg class="svg-star">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-star"></use>
                        </svg>
                        <!-- /SVG STAR -->
                    </li>
                </ul>
            </div>
            <!-- /USER RATING -->
        </div>
        <!-- /PRODUCT ITEM -->
    </div>
    <!--Content-->
</div>